---
layout: default
title: 'Ban Stingrays!'
twittertext: '.@FCC: The police need to #stopspying. Shut down #stingray surveillance now #colorofsurveillance'
shareimg: '/images/stingraytwittershare.jpg'
sharetitle: Your local police can tap your cell phone anywhere.
description: 'Tell the FCC: No more Stingray surveillance'
petition_id: 'bf6fb8f0-1029-4fd2-bf79-b2b3d8b1343a'
action_network_url: 'https://actionnetwork.org/petitions/ban-stingrays'
target_country: US
additional_fields:
  - street_address
tags:
  - surveillance
allow_comments: true
action_comment: 'Unlicensed use of cell site simulator technology violates the Communications Act by willfully interfering with the cellular network without a license.'
action_text: 'Fax the FCC'
mothership_tag: ban-stingrays
required_fields:
  - first_name
---

<h1 id="top">Your local police can tap your cell phone from anywhere. We're calling on the FCC to ban phone Stingrays.</h1>
<div class="action top" id="email">
    <p id="form-headline">
        <strong>Tell the FCC:</strong> “Unlicensed use of cell site simulator technology violates the Communications Act by willfully interfering with the cellular network without a license.”
    </p>
    {% include petition.html %}

    <div id="thanks" class="hidden">
        <h3>Thanks for taking action!</h3>
        <p>
            Please share this page!
        </p>
        <div class="share">
            <button class="social facebook">Share this</button>
            <button class="social twitter">Tweet this</button>
        </div>
    </div>
    <p class="disclosure"><a href="https://www.fightforthefuture.org">Fight for the Future</a> will email you with campaign updates. <a href="https://www.fightforthefuture.org/privacy">Privacy Policy</a></p>
</div>


<br/><br/>
<section class="copy">

<article id="latest" class="expanded">
        <h1>
                            What are Stingrays?

        </h1>
        <p>
        Cell Site Simulators, or Stingrays, are small devices that mimic cell towers to intercept any cell phone signals within range. Essentially, the device pretends to be a cellphone tower for your phone company, but really it's under the control of police, foreign spies, or whoever happens to own it. The FBI and police <a href="http://www.stltoday.com/news/local/crime-and-courts/secret-service-agent-s-testimony-shines-light-on-use-of/article_f37e0c1d-824c-5fad-b630-48084553cdf2.html" target="_blank">have worked to hide details about these devices</a> and the way they are deployed, but we know that updated models are capable of capturing and recording voice and text communications and <strong>in some instances <a href="https://www.wired.com/2015/10/stingray-government-spy-tools-can-record-calls-new-documents-confirm/">they may even be able to spoof messages</a> that appear to be from the owners of the phone.</strong>
        </p>
        <p>
        Besides capturing calls and text messages, Stingrays are also able to throttle or disrupt cell phone signals, which interferes with the public’s ability to communicate on the cell phone spectrum, with targeted use interfering with communications between protest organizers, for instance, or even blocking emergency calls to 911 and other care providers. Since these devices intercept cell signals indiscriminately, <a href="http://motherboard.vice.com/read/local-police-canada-stingray-surveillance-without-warrant-vancouver-pd-imsi-catcher-rcmp">thousands of phones could be surveilled simultaneously</a> when the Stingray is deployed at full range in large crowds or densely populated urban centers.
        </p>
        <p>
            <strong>For once we actually have a way to stop this illegal surveillance even though Congress won’t do anything about it: the Federal Communications Commission (FCC).</strong> The FCC, who have an obligation to protect us from harmful interference on a licensed spectrum, to manage said spectrum to promote the safety of life and property, and to ensure the availability of emergency calling services, <a href="https://www.washingtonpost.com/world/national-security/civil-liberties-groups-ask-fcc-to-probe-baltimore-police-use-of-cell-phone-tracking-devices/2016/08/16/37002b76-6336-11e6-96c0-37533479f3f5_story.html">could stop police</a> from using these devices to illegally monitor our communities by declaring Stingrays in violation of the Federal Communications Act.
        </p>
        <!--
  <p class="wide">
  <img onload="this.style.opacity=1;" src="/images/deptjustice.png">
  <img onload="this.style.opacity=1;" src="/images/deptodni.png">
  <img onload="this.style.opacity=1;" src="/images/depttreasury.png">
  <img onload="this.style.opacity=1;" src="/images/deptcommerce.png">
  <img onload="this.style.opacity=1;" src="/images/deptdefense.png">
  <img onload="this.style.opacity=1;" src="/images/depthomelandsecurity.png">
  </p>
  -->
</article>
<a href="/images/stingray.png"><img src="/images/stingray.png" style="display: block; margin: 0px auto; max-width: 100%; height: auto;"/></a>
</section>


{% include action-bar.html %}
