<!doctype html>
<html class="no-js">
<head>
    <script src="//use.typekit.net/gwc3hsx.js"></script>
    <script>try {Typekit.load({async: true});} catch (e) {}</script>
    {% include meta.html %}
    {% include scripts_head.html %}
</head>
<body>

<h1>Tech has power <em>over our future</em></h1>

<p class="cta">
    The future could actually suck. Like it's 1984. The Internet has changed the course of history, but monopolies and governments are using it to individually profile every person in the world - for coercion, manipulation, and power. We have to decide - is the Internet for evil or good?
</p>

<div class="action">
    <p>
        Corrupt surveillance bill CISA will change the world forever. Stop the US Congress from passing it now.
    </p>
    <div id="petition">
        HELLO
    </div>
    <script type="text/javascript">
        new EmailPetitionController({
            inject: '#petition',
            tag:    'test-petition',
            required: ['email', 'zip'],
            buttonText: 'Send Now',
            onSend: function(formData)
            {
                document.getElementById('petition').innerHTML = '<p>Thanks!</p>';

                new CallModalController({
                    campaign:   'cisa-cloture-fax',
                    zip:        formData.zip,
                    callScript: 'CISA is really a bad law. Please oppose it!'
                });
            }
        });
    </script>

</div>

<a id="scoreboard" name="scoreboard"></a>
<div class="scoreboard">
    <h2>Political Scoreboard</h2>
    <p>
        We have the power to protect the Internet and ourselves, but to do that,
        we need to know who is helping us and who is working against us.
    </p>
    <div id="scoreboard_data"></div>
    <div id="histogram"></div>
</div>
<section class="copy">
    {{ content }}
</section>
{% include fftf-footer.html %}
{% include action-bar.html %}
{% include methodology-modal.html %}
{% include scripts.html %}
</body>
</html>
