<!doctype html>
<html class="no-js">
<head>
    <script src="//use.typekit.net/gwc3hsx.js"></script>
    <script>try {Typekit.load({async: true});} catch (e) {}</script>
    {% include meta.html %}
    {% include scripts_head.html %}
</head>
<body>

<nav>
    <ul>
        <li><a href="#top">Take Action</a></li>
        <li><a href="#scoreboard">Scoreboard</a></li>
        <li><a href="#protest">Protest</a></li>
        <li><a href="#faq">FAQ</a></li>
    </ul>
</nav>

<h1 id="top">Time is running out<em>to stop CISA.</em></h1>
<h3 class="cta">Congress is voting. Contact your senators now!</h3>
<div id="targets"></div>
<!--
<p class="cta">
    The Internet and the power it gives us has changed the course of history, but runaway governments and monopolies are turning the Internet against us for power and profit. Their biggest move yet: passing the surveillance bill CISA, this week. We can stop an Internet for evil, but it's now or never.
</p>
-->
<div class="action">
    <p id="form-headline">
       <strong>Tell Congress:</strong> Stop CISA! Protect human rights on the Internet.
    </p>
    <div id="thanks" class="hidden">
        <h3>Thanks for taking action!</h3>
        <p>
            We're up against some of the most powerful corporate lobbyists in the country, but that hasn't stopped us before. If a critical mass of citizens speak out against CISA, our voices will be impossible to ignore.
        </p>
        <div class="share">
            <!--
            JL NOTE ~ switch this back when we're done with ShareProgress
            <button class="social facebook">Share this</button>
            <button class="social twitter">Tweet this</button>
            -->
            <div class='sp_16092 sp_fb_small' ></div>
            <div class='sp_16093 sp_tw_small' ></div>
        </div>
    </div>
    {% include cta_petition.html %}

</div>
{% include scoreboard_political.html %}
{% include scoreboard_corporate.html %}
<section class="copy">
    {{ content }}
</section>
{% include fftf-footer.html %}
{% include methodology-modal.html %}
{% include scripts.html %}
</body>
</html>
