<!doctype html>
<html class="no-js">
<head>
    <script src="//use.typekit.net/gwc3hsx.js"></script>
    <script>try {Typekit.load({async: true});} catch (e) {}</script>
    {% include meta.html %}
    {% include scripts_head.html %}
</head>
<body>

<h1>Tech has power <em>over our future</em></h1>

<p class="cta">
    The Internet and the power it gives us has changed the course of history, but runaway governments and monopolies are turning the Internet against us for power and profit. Their biggest move yet &mdash; pass surveillance bill CISA in the next week. We can stop an Internet for evil, but it's now or never.
</p>

<div class="action">
    <div id="action">
        <p>
           The US Congress has to hear from us this week or CISA will pass and change the world for the worse. Stop them now.
        </p>
        {% include cta_petition.html %}
    </div>
    <div id="thanks" style="display: none;">
        <h3>Thanks for taking action!</h3>
        <p>
            We're up against some of the most powerful corporate lobbyists in the country, but that hasn't stopped us before. If a critical mass of citizens speak out against CISA, our voices will be impossible to ignore.
        </p>
        <div class="share">
            <!--
            JL NOTE ~ switch this back when we're done with ShareProgress
            <button class="social facebook">Share this</button>
            <button class="social twitter">Tweet this</button>
            -->
            <div class='sp_16092 sp_fb_small' ></div>
            <div class='sp_16093 sp_tw_small' ></div>
        </div>
    </div>

</div>

<a id="scoreboard" name="scoreboard"></a>
<div class="scoreboard">
    <h2>Political Scoreboard</h2>
    <p>
        We have the power to protect the Internet, but to do that,
        we need to know who is helping us and who is working against us.
    </p>
    <div id="scoreboard_data"></div>
    <div id="histogram"></div>
</div>
<section class="copy">
    {{ content }}
</section>
{% include fftf-footer.html %}
{% include action-bar.html %}
{% include methodology-modal.html %}
{% include scripts.html %}
</body>
</html>
