* {
    box-sizing: border-box
}

html, body {
    font-size: 62.5%;
    height: 100%;
}

body {
    background: @background-color url('../images/unspecified.jpg') center top no-repeat;
    font-size: 1.6rem;
    font-family: @body-font;
    padding: 0rem 0px 0;
    position: relative;


    @media screen and (min-width: @medium-laptop) {
        background-size: 100% auto;
    }
}

h1, h2, h3, h4, h5, h6 {
    color: @white;
    font-family: @heading-font;
    text-align: center;
}

h1 {
    font-size: 25px;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    letter-spacing: 0.08rem;
    margin: 0 auto 3rem auto;
    padding: 5rem 10px 0 10px;
    text-transform: uppercase;
    max-width: 900px;

    @media screen and (max-width: @large-phone) {
        font-size: 25px;
    }

    @media screen and (min-width: @large-phone) {
        font-size: 25px;
    }



    em {
        display: block;
    }

    &#top {
        @media screen and (min-width: @small-phone) {
            padding-top: 5.5rem;
        }
        @media screen and (min-width: @large-phone) {
            padding-top: 9.36rem;
        }
        @media screen and (min-width: @small-tablet) {
            font-size: 50px;
            font-weight: 400;
            text-transform: none;
            text-shadow: 0px 0px 20px black;
            strong {
              text-transform: uppercase;
              display: block;
              font-weight: 800;
            }
        }
    }
}

h2 {
    font-size: 17vw;
    letter-spacing: 0.16rem;
    margin-bottom: 25px;
    @media screen and (min-width: @small-phone) {
        font-size: 8rem;
    }
}

h3 {
    display: block;
    font-size: 3.52rem;
    margin-bottom: 0.8rem;

    &.cta {
        font-family: @body-font;
        font-size: 20px;
        font-weight: 400;
        padding-top: 0rem;
        max-width: 768px;
        line-height: 3rem;
        text-shadow: 0px 0px 10px black;
        margin: 0 auto 3rem auto;
        padding: 0px 10px;
        @media screen and (min-width: @small-phone) {
          padding: 0px;
        }
    }

    a {
        color: white;
        font-weight: bold;
    }
}

dt, dd, p {
    color: @body-copy-color;
    margin: 0 auto 3rem;
    max-width: 72ch;
}

dt {
    font-weight: bold;
    margin: 0 auto;
}

p {
    text-align: center;
    line-height: 1.4em;

    &.cta {
        line-height: 2.32rem;
        color: @white;
    }

    dd & {
        text-align: left;
    }
}

.hidden {
    display: none;
}
