div.action_bar {
    border-top: 1px solid #663333;
    padding: 3px 1px 4px 1px;
    box-sizing: border-box;
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    background: #442222;
    z-index: 9001;
    font-weight: 600;
    text-align: center;
    @media screen and (min-width: @small-laptop) {
        text-align: right;
        border-top: 2px solid #663333;
        padding: 8px 10px 10px 10px;
    }

    span {
        display: none;
        @media screen and (min-width: @small-phone) {
            display: inline;
        }
    }

    .call {

        display: none;

        @media screen and (min-width: @small-laptop) {
            display: block;
            font-size: 30px;
            color: #fff;
            position: absolute;
            left: 30px;
            top: 10px;
            font-weight: 300;

            strong {
                font-weight: bold;
                color: white;
            }
        }
    }

    .donate {
        display: none;
        margin-top: 0px;
        margin: 0px 5px;
        padding: 0px 10px 0px 10px;
        border: 1px solid #c4a63a;
        height: 2.9rem;
        box-sizing: border-box;
        line-height: 27px;
        color: #4d3a0b;
        text-decoration: none;
        border-radius: 25px;
        background: #fadb62; /* Old browsers */
        background: linear-gradient(to bottom, #fadb62 0%,#d1b243 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fadb62', endColorstr='#d1b243',GradientType=0 ); /* IE6-9 */

        @media screen and (min-width: @small-phone) {
            display: inline-block;
        }
    }

    button.social {
        margin-top: 2px;
    }
}
