#scoreboard_corporate { display: none; } /* JL HACK ~ */

.politicians {
    margin-top: 2.4rem;
    @media screen and (min-width: @large-phone) {
        display: flex;
        flex-direction: row;
        align-items: stretch;
    }
}

.scoreboard {
    border-radius: 5px;
    max-width: 768px;
    margin: 60px auto 0px auto;
    color: @white;
    padding: 1rem 0 0;
    text-align: center;
    background: #232330;

    select {
        font-size: 2.08rem;
        margin: 0 25px 0 5px;
    }
    .spinnerContainer {
        padding-bottom: 4rem;

    }
    .spinner {
        height: 10rem;
        margin: 0 auto;
        width: 10rem;
    }
    .link {
        font-size: 1.6rem;
    }

    h2 {
        margin-bottom: 1rem;
    }
    p {
        font-size: 2rem;
        line-height: 2.4rem;
        padding: 0 2rem;
    }
    a {
        color: @white;
    }

    .table-wrapper {
        position: relative;
        max-height: 500px;
        overflow: hidden;

        &.expanded {
            max-height: 10000rem;

            .more {
                display: none;
            }
        }

        .more {
            text-align: center;
            background-image: linear-gradient(to bottom, transparent, #17171b 75%);
            color: fade(#bcc7e4, 50%);
            padding-right: 3rem;
            padding-left: 3rem;
            line-height: 8.5rem;
            font-weight: 800;
            font-size: 2rem;
            &.good {
                color: fade(#00dcd9, 50%);

                &:hover {
                    color: fade(#00dcd9, 100%);
                }
            }
            &.bad {
                color: fade(#cd5236, 50%);

                &:hover {
                    color: fade(#cd5236, 100%);
                }
            }
            &::before {
                content: '';
            }
            &::after {
                display: inline-block;

                content: '∨';
                font-weight: bold;
                margin-left: .5rem;
                transform : scale(1,.5);
            }
        }
    }

    .corporate {
        padding: 10px 10px 30px 10px;
        background: #17171b;

        .team {
            width: 100%;
            max-width: 625px;
            margin: 0px auto;
            padding: 12px 0px 10px 0px;

            img {
                width: 66%;
                height: auto;
            }

            &.good {
                img {
                    max-width: 244px;
                }
                p {
                    color: #00dcd9;
                }
            }
            &.bad {
                img {
                    max-width: 181px;
                }
                p {
                    color: #cd5236;
                }
            }

            p {
                width: 100%;
                white-space: normal;
                padding: 5px 10px;
                margin: 0px auto;
                font-size: 1.4rem;
                line-height: 1.9rem;

            }

            @media screen and (min-width: @large-phone) {
                img {
                    float: left;
                    margin-right: 3rem;
                    margin-left: 2rem;
                }
                p {
                    padding: 0px 10px;
                    margin-top: -4px;
                }

                &.good {
                    /*border-bottom: 2px solid #083734;*/
                    background: #22222c;
                }
                &.bad {
                    /*border-bottom: 2px solid #35150d;*/
                    margin-bottom: 3px;
                    background: #2c2222;
                }
                padding: 20px 0px 20px 0px;
                margin: 3rem auto 0rem auto;
                border-top-left-radius: 15px;
                border-top-right-radius: 15px;

            }
        }

        table {
            width: 100%;
            max-width: 625px;
            margin: 0px auto .5rem auto;
            table-layout: fixed;

            th, td {
                border-right: 1px solid #2b2b34;

                img {

                }
            }
            td {
                padding: 5px;
                border-bottom: 1px solid #2b2b34;
                vertical-align: middle;
            }
            th {
                padding: 0px 2px;
                border-bottom: 0px none transparent;
                width: 20%;
                vertical-align: top;


                span {
                    display: block;
                    background: #03b3b1;
                    font-size: 1rem;
                    padding: 8px 0px;
                    text-transform: uppercase;

                    strong {
                        display: block;
                        margin: 0px 0px;
                        font-size: 1.2rem;
                        font-weight: 600;
                    }

                    @media screen and (min-width: @small-phone) {
                        font-size: 1.5rem;
                        font-weight: 600;

                        strong {
                            font-size: 1.8rem;
                            font-weight: 800;
                        }
                    }
                }
                @media screen and (min-width: @large-phone) {
                    background: #22222c;
                }
            }
            th:first-child, td:first-child {
                width: 40%;
                border-right: 0px none transparent;
                padding-left: 0px;
                padding-right: 0px;

            }
            td:first-child {
                vertical-align: middle;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;

                a {
                    display: block;
                    width: 100%;
                    max-width: 100%;
                    height: 32px;
                    line-height: 32px;
                    padding-left: 32px;
                    text-decoration: none;
                    position: relative;
                    text-transform: uppercase;
                    font-size: 1.1rem;
                    font-weight: 600;
                    text-align: center;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    background-size: 32px 32px !important;      /* yes        */
                    background-position: 0px 0px !important;    /* i know.    */
                    background-repeat: no-repeat !important;    /* it sucks.  */
                    -webkit-background-blend-mode: multiply !important; /* sorry.     */
                    background-blend-mode: multiply !important; /* sorry.     */

                    img {
                        position: absolute;
                        left: 0px;
                        top: 0px;
                        width: 32px;
                        height: 32px;
                        opacity: .6;
                    }

                    span {
                        display: block;
                        width: 100%;
                        height: 32px;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }

                    @media screen and (min-width: @small-phone) {
                        height: 48px;
                        line-height: 48px;
                        padding-left: 48px;
                        font-size: 1.5rem;
                        background-size: 48px 48px !important;

                        span {
                            text-align: left;
                            padding: 0px 0px 0px 1rem;
                            height: 48px;
                        }
                        img {
                            width: 48px;
                            height: 48px;
                        }
                    }
                    @media screen and (min-width: @large-phone) {
                        height: 64px;
                        line-height: 64px;
                        padding-left: 64px;
                        font-size: 2rem;
                        background-size: 64px 64px !important;

                        span {
                            text-align: left;
                            padding: 0px 0px 0px 1.7rem;
                            height: 64px;
                        }
                        img {
                            width: 64px;
                            height: 64px;
                        }
                    }

                }
            }
            th:last-child {
                padding-right: 0px;
            }
            th:last-child, td:last-child {
                border-right: 0px none transparent;
            }

            tr.good, tr.bad {
                img {
                    width: 16px;
                    height: 16px;
                }

                @media screen and (min-width: @small-phone) {
                    img {
                        width: auto;
                        height: auto;
                    }
                }
            }

            tr.good {

                td:first-child {
                    a {
                        background-color: rgba(3, 179, 177, 0.66);

                        span {
                            background: #083734;
                            color: #04f4f1;
                        }
                    }
                }
            }
            tr.bad {

                td {
                    border-color: #342b2b;
                }

                td:first-child {
                    a {
                        background-color: rgba(216, 93, 64, 0.66);

                        span {
                            background: #35150d;
                            color: #ea5a37;
                        }
                    }
                }
            }
        }
    }
}

.sort {
    color: fade(@white, 70%);
    font-size: 2.08rem;
    margin: 0 10px;

    &.sel {
        color: @white;
        font-weight: bold;
    }
}

.team {
    background: #171a1e;
    padding-top: 2.5rem;
    @media screen and (min-width: @large-phone) {
        width: 50%;
        &.internet {
            border-right: 0.1rem solid #353535;
        }
    }

    em {
        display: block;
        text-align: center;
        padding: 0 1.6rem 2.4rem 1.6rem;
        font-size: 1.6rem;
        line-height: 2.4rem;
        color: #737396;
    }

}
.internet {
    h3 {
        color: #01d5c8;
    }
    em {
        color: #00dcd9;
    }
}

.surveillance {
    h3 {
        color: #dd5b3c;
    }
    em {
        color: #ea6e51;
    }
}

.unknown {
    padding-top: 0;
    width: 100%;
    h3 {
        color: #6e41d3;
        background: #202032;
        height: 6rem;
        line-height: 6rem;
        margin-bottom: 15px;
    }
}

.filtered {
    > div {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: stretch;
        align-content: flex-start;
    }
}

#histogram {
    display: none;
    &.visible {
        display: block;
    }
    overflow-x: scroll;
    padding: 3rem 0;
}
