---
layout: default
---
{% include nav.html %}
<h1 id="top">Time is running out<em>to stop CISA.</em></h1>
<h3 class="cta">This bill would put corporations above the law and let them share your data with the U.S. government. Congress is voting soon. Contact your senators now!</h3>
<div id="targets"><div class="side0"></div><div class="side1"></div></div>
<div class="action">
    <p id="form-headline">
        <strong>Tell Congress:</strong> Stop CISA! Protect human rights on the Internet.
    </p>
    <div id="thanks" class="hidden">
        <h3>Thanks for taking action!</h3>
        <p>
            We're up against some of the most powerful corporate lobbyists in the country, but that hasn't stopped us before. If a critical mass of citizens speak out against CISA, our voices will be impossible to ignore.
        </p>
        <div class="share">
            <!--
            JL NOTE ~ switch this back when we're done with ShareProgress
            <button class="social facebook">Share this</button>
            <button class="social twitter">Tweet this</button>
            -->
            <div class='sp_16092 sp_fb_small' ></div>
            <div class='sp_16093 sp_tw_small' ></div>
        </div>
    </div>
    {% include cta_petition.html %}
</div>

{% include scoreboard_political.html %}
{% include scoreboard_corporate.html %}
<section class="copy">

    {% for post in site.posts %}
    <hr>
    {% if forloop.first or post.expanded %}
    <article id="{{ post.slug }}" class="expanded">
    {% else %}
    <article id="{{ post.slug }}">
    {% endif %}
        <h1>
            <a href="#{{ post.slug }}" class="expand-me">
                {{ post.title }}
            </a>
        </h1>
        <time datetime="{{ post.date | date_to_rfc822 }}"></time>
        {{ post.content }}
        {% if forloop.first == false and post.expanded != true %}
        <a href="#{{ post.slug }}" class="expand-me more">Learn more&hellip;</a>
        {% endif %}
    </article>
    {% endfor %}
</section>
{% include methodology-modal.html %}
