---
layout: default
---
{% include nav.html %}
<h1 id="top">Dial 1-985-222-CISA <em>to stop CISA.</em></h1>
<h3 class="cta">This bill would put corporations above the law and let them share your data with the U.S. government. Congress has tacked it as a rider onto the budget bill and they're voting soon. Call them before it's too late!</h3>
<div id="targets"><div class="side0"></div><div class="side1"></div></div>
<div class="action top" id="email">
    <p id="form-headline">
        <strong>Call Congress to Stop CISA!</strong>
    </p>

    <div id="petition" class="petition">
        <form id="dumbcalltool">
            <input name="phone" class="wide" placeholder="Enter your phone number" id="dumbphonenumber"/>
            <button type="submit">Click to Connect</button>
        </form>
    </div>
    <div id="thanks" class="hidden">
        <h3>Thanks for taking action!</h3>
        <p>
            We're up against some of the most powerful corporate lobbyists in the country, but that hasn't stopped us before. If a critical mass of citizens speak out against CISA, our voices will be impossible to ignore.
        </p>
        <div class="share">
            <!--
            JL NOTE ~ switch this back when we're done with ShareProgress
            <button class="social facebook">Share this</button>
            <button class="social twitter">Tweet this</button>
            -->
            <div class='sp_16092 sp_fb_small' ></div>
            <div class='sp_16093 sp_tw_small' ></div>
        </div>
    </div>
</div>


<section class="copy">



    <article id="more-info" class="expanded">

        <h1>
                            CISA will break the Internet.

        </h1>
        <time datetime="Wed, 16 Sep 2015 00:00:00 -0700"></time>
        <ul class="bulleted">
    <li>
        CISA will <a href="http://thehill.com/blogs/pundits-blog/technology/250070-is-cisa-gift-wrapped-for-hackers-and-nation-state-actors" target="_blank">make us more vulnerable</a> to cyber attacks.
    </li>
    <li>
        CISA <a href="http://qz.com/543692/americans-should-probably-be-more-freaked-out-about-that-new-cybersecurity-bill/" target="_blank">destroys online privacy</a>, allowing for <a href="http://thehill.com/policy/cybersecurity/262281-cyber-bills-final-language-will-anger-privacy-advocates" target="_blank">unlimited surveillance</a> of any service that participates.
    </li>
    <li>
        Sweeping legal immunity gives companies <a href="https://www.youbetrayedus.org/ftc/" target="_blank">no incentive to improve their cybersecurity</a>.
    </li>
    <li>
        Information collected can be used for a wide range of purposes that have <a href="http://www.theguardian.com/world/2015/dec/09/cisa-cybersecurity-bill-congress-american-library-association-letter" target="_blank">nothing to do with cybersecurity or terrorism</a>.
    </li>
</ul>
</article>

<article id="latest" class="expanded">
<h1>

                CISA is now worse than ever.

        </h1>
<p class="wide">
<img onload="this.style.opacity=1;" src="images/deptjustice.png">
<img onload="this.style.opacity=1;" src="images/deptodni.png">
<img onload="this.style.opacity=1;" src="images/depttreasury.png">
<img onload="this.style.opacity=1;" src="images/deptcommerce.png">
<img onload="this.style.opacity=1;" src="images/deptdefense.png">
<img onload="this.style.opacity=1;" src="images/depthomelandsecurity.png">
</p>
<p>
In the weeks since the Senate approved CISA, Speaker Paul Ryan has been busy stripping privacy protections from the bill. Now CISA is much worse than the version Obama threatened to veto—but Ryan is adding it as a rider to a must-pass budget bill that Obama can't veto without shutting down the government.
The latest changes turn CISA from a mass surveillance bill to a mass incarceration bill:
<ul class="bulleted">
<li>
    Removed prohibition of information being shared automatically with NSA and
    DOD (H.R. 1560). Instead, information may be shared directly with DOD and NSA.
</li>
<li>
    Removes prohibition on using CISA for “surveillance” activities.
</li>
<li>
    Removes limitation that government can only use collected info for
    cybersecurity purposes (House Homeland Security Bill H.R.1731). Instead,
    they can use this shared info to prosecute other crimes
    (which increases the incentive for them to collect and retain more personal
    information, whether it is related to cybersecurity or not).
</li>
<li>
    Removes requirement that government scrub personal information unrelated to a
    cybersecurity threat before sharing information. (H.R.1731 had this requirement).
    Instead, scrubbing is at discretion of Agency.
</li>
</ul>
</p>

</article>

<article id="companies" class="expanded">
<h1>The world’s leading security experts, tech companies, and advocacy groups oppose CISA.</h1>
<p>Click on the logos below to learn why.</p>

<a href="http://www.bsa.org/policy/security/?sc_lang=en-US" target="_blank"><img src="/images/logos/adobe.png"/></a>
<a href="http://www.ccianet.org/2015/10/ccia-urges-senate-to-improve-cybersecurity-information-sharing-act/" target="_blank"><img src="/images/logos/amazon.png"/></a>
<a href="https://www.washingtonpost.com/news/the-switch/wp/2015/10/20/apple-says-its-against-a-key-cybersecurity-bill-days-before-a-crucial-vote/" target="_blank"><img src="/images/logos/apple.png"/></a>
<a href="http://mashable.com/2013/03/19/reddit-craigslist-cispa/#FpfED8Wdjaqw" target="_blank"><img src="/images/logos/automattic.png"/></a>
<a href="http://mashable.com/2013/03/19/reddit-craigslist-cispa/#FpfED8Wdjaqw" target="_blank"><img src="/images/logos/craigslist.png"/></a>
<a href="https://www.accessnow.org/cms/assets/uploads/archive/Veto-CISA-Coalition-Ltr.pdf" target="_blank"><img src="/images/logos/credomobile.png"/></a>
<a href="http://www.bsa.org/policy/security/?sc_lang=en-US" target="_blank"><img src="/images/logos/dell.png"/></a>
<a href="https://twitter.com/disconnectme/status/648976977769185280" target="_blank"><img src="/images/logos/disconnect.png"/></a>
<a href="https://www.washingtonpost.com/news/the-switch/wp/2015/10/20/apple-says-its-against-a-key-cybersecurity-bill-days-before-a-crucial-vote/" target="_blank"><img src="/images/logos/dropbox.png"/></a>
<a href="https://twitter.com/duckduckgo/status/658721998684758017" target="_blank"><img src="/images/logos/duckduckgo.png"/></a>
<a href="http://www.ccianet.org/2015/10/ccia-urges-senate-to-improve-cybersecurity-information-sharing-act/" target="_blank"><img src="/images/logos/ebay.png"/></a>
<a href="http://www.ccianet.org/2015/10/ccia-urges-senate-to-improve-cybersecurity-information-sharing-act/" target="_blank"><img src="/images/logos/google.png"/></a>
<a href="https://twitter.com/pablochavez/status/658083480178466816" target="_blank"><img src="/images/logos/linkedin.png"/></a>
<a href="http://www.ccianet.org/2015/10/ccia-urges-senate-to-improve-cybersecurity-information-sharing-act/" target="_blank"><img src="/images/logos/microsoft.png"/></a>
<a href="https://blog.mozilla.org/netpolicy/2015/03/02/mozilla-statement-on-cisa/" target="_blank"><img src="/images/logos/mozilla.png"/></a>
<a href="http://www.ccianet.org/2015/10/ccia-urges-senate-to-improve-cybersecurity-information-sharing-act/" target="_blank"><img src="/images/logos/netflix.png"/></a>
<a href="http://www.bsa.org/policy/security/?sc_lang=en-US" target="_blank"><img src="/images/logos/oracle.png"/></a>
<a href="https://twitter.com/buyvpnservice/status/629010377301364736" target="_blank"><img src="/images/logos/privateinternetaccess.jpg"/></a>
<a href="https://twitter.com/reddit/status/654714193040400384" target="_blank"><img src="/images/logos/reddit.png"/></a>
<a href="https://twitter.com/Benioff/status/647422363890544640" target="_blank"><img src="/images/logos/salesforce.png"/></a>
<a href="https://twitter.com/twilio/status/649320310777380864" target="_blank"><img src="/images/logos/twilio.png"/></a>
<a href="https://twitter.com/policy/status/656288688364609536" target="_blank"><img src="/images/logos/twitter.png"/></a>
<a href="https://twitter.com/wikimediapolicy/status/655179547994816512" target="_blank"><img src="/images/logos/wikipedia.png"/></a>
<a href="http://www.ccianet.org/2015/10/ccia-urges-senate-to-improve-cybersecurity-information-sharing-act/" target="_blank"><img src="/images/logos/yahoo.png"/></a>
<a href="https://twitter.com/Yelp/status/655938689952976896" target="_blank"><img src="/images/logos/yelp.png"/></a>
<a href="https://www.newamerica.org/oti/coalition-letter-from-55-civil-society-groups-security-experts-and-academics-opposing-cisa/" target="_blank"><img src="/images/logos/access.jpg"/></a>
<a href="https://www.newamerica.org/oti/coalition-letter-from-55-civil-society-groups-security-experts-and-academics-opposing-cisa/" target="_blank"><img src="/images/logos/adc.jpg"/></a>
<a href="https://www.newamerica.org/oti/coalition-letter-from-55-civil-society-groups-security-experts-and-academics-opposing-cisa/" target="_blank"><img src="/images/logos/aclu.png"/></a>
<a href="https://www.newamerica.org/oti/coalition-letter-from-55-civil-society-groups-security-experts-and-academics-opposing-cisa/" target="_blank"><img src="/images/logos/ala.png"/></a>
<a href="https://www.newamerica.org/oti/coalition-letter-from-55-civil-society-groups-security-experts-and-academics-opposing-cisa/" target="_blank"><img src="/images/logos/arl.jpg"/></a>
<a href="https://www.newamerica.org/oti/coalition-letter-from-55-civil-society-groups-security-experts-and-academics-opposing-cisa/" target="_blank"><img src="/images/logos/bordc.jpg"/></a>
<a href="https://www.newamerica.org/oti/coalition-letter-from-55-civil-society-groups-security-experts-and-academics-opposing-cisa/" target="_blank"><img src="/images/logos/brennancenter.png"/></a>
<a href="https://www.newamerica.org/oti/coalition-letter-from-55-civil-society-groups-security-experts-and-academics-opposing-cisa/" target="_blank"><img src="/images/logos/cdt.png"/></a>
<a href="https://www.newamerica.org/oti/coalition-letter-from-55-civil-society-groups-security-experts-and-academics-opposing-cisa/" target="_blank"><img src="/images/logos/constitutionproject.jpg"/></a>
<a href="https://www.newamerica.org/oti/coalition-letter-from-55-civil-society-groups-security-experts-and-academics-opposing-cisa/" target="_blank"><img src="/images/logos/cair.jpg"/></a>
<a href="https://www.newamerica.org/oti/coalition-letter-from-55-civil-society-groups-security-experts-and-academics-opposing-cisa/" target="_blank"><img src="/images/logos/ddf.jpg"/></a>
<a href="https://www.newamerica.org/oti/coalition-letter-from-55-civil-society-groups-security-experts-and-academics-opposing-cisa/" target="_blank"><img src="/images/logos/demandprogress.png"/></a>
<a href="https://www.newamerica.org/oti/coalition-letter-from-55-civil-society-groups-security-experts-and-academics-opposing-cisa/" target="_blank"><img src="/images/logos/ddc.png"/></a>
<a href="https://www.newamerica.org/oti/coalition-letter-from-55-civil-society-groups-security-experts-and-academics-opposing-cisa/" target="_blank"><img src="/images/logos/eff.jpg"/></a>
<a href="https://www.newamerica.org/oti/coalition-letter-from-55-civil-society-groups-security-experts-and-academics-opposing-cisa/" target="_blank"><img src="/images/logos/fftf.png"/></a>
<a href="https://www.newamerica.org/oti/coalition-letter-from-55-civil-society-groups-security-experts-and-academics-opposing-cisa/" target="_blank"><img src="/images/logos/freepress.png"/></a>
<a href="https://www.newamerica.org/oti/coalition-letter-from-55-civil-society-groups-security-experts-and-academics-opposing-cisa/" target="_blank"><img src="/images/logos/freedomworks.png"/></a>
<a href="https://www.newamerica.org/oti/coalition-letter-from-55-civil-society-groups-security-experts-and-academics-opposing-cisa/" target="_blank"><img src="/images/logos/fp.png"/></a>
<a href="https://www.newamerica.org/oti/coalition-letter-from-55-civil-society-groups-security-experts-and-academics-opposing-cisa/" target="_blank"><img src="/images/logos/gap.png"/></a>
<a href="https://www.newamerica.org/oti/coalition-letter-from-55-civil-society-groups-security-experts-and-academics-opposing-cisa/" target="_blank"><img src="/images/logos/hf.jpg"/></a>
<a href="https://www.newamerica.org/oti/coalition-letter-from-55-civil-society-groups-security-experts-and-academics-opposing-cisa/" target="_blank"><img src="/images/logos/hrw.gif"/></a>
<a href="https://www.newamerica.org/oti/coalition-letter-from-55-civil-society-groups-security-experts-and-academics-opposing-cisa/" target="_blank"><img src="/images/logos/libertycoalition.png"/></a>
<a href="https://www.newamerica.org/oti/coalition-letter-from-55-civil-society-groups-security-experts-and-academics-opposing-cisa/" target="_blank"><img src="/images/logos/ma.jpg"/></a>
<a href="https://www.newamerica.org/oti/coalition-letter-from-55-civil-society-groups-security-experts-and-academics-opposing-cisa/" target="_blank"><img src="/images/logos/nacdl.png"/></a>
<a href="https://www.newamerica.org/oti/coalition-letter-from-55-civil-society-groups-security-experts-and-academics-opposing-cisa/" target="_blank"><img src="/images/logos/oti.png"/></a>
<a href="https://www.newamerica.org/oti/coalition-letter-from-55-civil-society-groups-security-experts-and-academics-opposing-cisa/" target="_blank"><img src="/images/logos/openthegovernment.png"/></a>
<a href="https://www.newamerica.org/oti/coalition-letter-from-55-civil-society-groups-security-experts-and-academics-opposing-cisa/" target="_blank"><img src="/images/logos/pen.png"/></a>
<a href="https://www.newamerica.org/oti/coalition-letter-from-55-civil-society-groups-security-experts-and-academics-opposing-cisa/" target="_blank"><img src="/images/logos/rt4.png"/></a>
<a href="https://www.newamerica.org/oti/coalition-letter-from-55-civil-society-groups-security-experts-and-academics-opposing-cisa/" target="_blank"><img src="/images/logos/rstreet.jpg"/></a>
<a href="https://www.newamerica.org/oti/coalition-letter-from-55-civil-society-groups-security-experts-and-academics-opposing-cisa/" target="_blank"><img src="/images/logos/sna.jpg"/></a>
<a href="https://www.newamerica.org/oti/coalition-letter-from-55-civil-society-groups-security-experts-and-academics-opposing-cisa/" target="_blank"><img src="/images/logos/xlab.png"/></a>
</article>

    </section>

{% include scoreboard_political.html %}


<div class="action">
    <h3>Tweet Congress</h3>
    <p id="form-headline">
        <!--
        <strong>Join the Tweet Storm to #StopCISA!</strong><br/>
        Help blanket Congress with tweets!
        -->
        <div id="tweet_text_container">
            <textarea id="tweet_text" maxlength="105">please vote to #StopCISA—this bill is bad for cybersecurity and human rights. www.decidethefuture.org</textarea>
            <div id="remaining">0</div>
        </div>
        <div class="selectors">
            <span class="tweet_to">Tweet to:</span>
            <label for="just_state" class="sel" id="just_state_label"><input type="radio" name="tweet_to" id="just_state" checked><span class="just"> just </span><span id="placeholder_state_name">your state</span><span id="state_selector"></span></label>
            <label for="EVERYONE" id="EVERYONE_label"><input type="radio" name="tweet_to" id="EVERYONE"> the whole Senate</label>
        </div>
        <div id="tweet-iframe-container"></div>
        <a class="tweet" href="#" id="tweet_your_state"><img src="/images/share/tw_white.png"/>Tweet your Senators</a>
        <a class="call" href="#" id="call_congress">Can't tweet? Call Congress...</a>

    </p>
    <script type="text/javascript">
        var url = TWEET_BLASTER_URL;
        var iframe = $c('iframe');
        iframe.id = 'tweet_blaster_frame';
        iframe.src = url + '?return='+encodeURIComponent(window.location.href.split("#")[0]);
        iframe.frameborder = 0;
        document.getElementById('tweet-iframe-container').appendChild(iframe);
    </script>

</div>


{% include scoreboard_corporate.html %}
<section class="copy">

    {% for post in site.posts %}
    <hr>
    {% if forloop.first or post.expanded %}
    <article id="{{ post.slug }}" class="expanded">
    {% else %}
    <article id="{{ post.slug }}">
    {% endif %}
        <h1>
            <a href="#{{ post.slug }}" class="expand-me">
                {{ post.title }}
            </a>
        </h1>
        <time datetime="{{ post.date | date_to_rfc822 }}"></time>
        {{ post.content }}
        {% if forloop.first == false and post.expanded != true %}
        <a href="#{{ post.slug }}" class="expand-me more">Learn more&hellip;</a>
        {% endif %}
    </article>
    {% endfor %}
</section>
{% include methodology-modal.html %}
{% include action-bar.html %}
