---
layout: default
---
{% include nav.html %}
<h1 id="top">Join the Tweet Storm <em>to stop CISA.</em></h1>
<h3 class="cta">This bill would put corporations above the law and let them share your data with the U.S. government. The Senate is voting. Help us flood them with tweets!</h3>
<div class="action">
    <p id="form-headline">
        <!--
        <strong>Join the Tweet Storm to #StopCISA!</strong><br/>
        Help blanket Congress with tweets!
        -->
        <div id="targets"><div class="side0"></div><div class="side1"></div></div>
        <div id="tweet_text_container">
            <textarea id="tweet_text" maxlength="105">please vote to #StopCISA—this bill is bad for cybersecurity and human rights. www.decidethefuture.org</textarea>
            <div id="remaining">0</div>
        </div>
        <div class="selectors">
            <span class="tweet_to">Tweet to:</span>
            <label for="just_state" class="sel" id="just_state_label"><input type="radio" name="tweet_to" id="just_state" checked> just <span id="placeholder_state_name">your state</span><span id="state_selector"></span></label>
            <label for="EVERYONE" id="EVERYONE_label"><input type="radio" name="tweet_to" id="EVERYONE"> the whole Senate</label>
        </div>
        <div id="tweet-iframe-container"></div>
        <a class="tweet" href="#" id="tweet_your_state"><img src="/images/share/tw_white.png"/>Tweet your Senators</a>
        <a class="call" href="#" id="call_congress">Can't tweet? Call Congress...</a>

    </p>
    <script type="text/javascript">
        var url = TWEET_BLASTER_URL;
        var iframe = $c('iframe');
        iframe.id = 'tweet_blaster_frame';
        iframe.src = url + '?return='+encodeURIComponent(window.location.href.split("#")[0]);
        iframe.frameborder = 0;
        document.getElementById('tweet-iframe-container').appendChild(iframe);
    </script>
    <div id="thanks" class="hidden">
        <h3>Thanks for taking action!</h3>
        <p>
            We're up against some of the most powerful corporate lobbyists in the country, but that hasn't stopped us before. If a critical mass of citizens speak out against CISA, our voices will be impossible to ignore.
        </p>
        <div class="share">
            <!--
            JL NOTE ~ switch this back when we're done with ShareProgress
            <button class="social facebook">Share this</button>
            <button class="social twitter">Tweet this</button>
            -->
            <div class='sp_16092 sp_fb_small' ></div>
            <div class='sp_16093 sp_tw_small' ></div>
        </div>
    </div>
</div>

{% include scoreboard_political.html %}
<div class="action lower_on_page" id="email">
    <p id="form-headline">
        <strong>Email Congress to Stop CISA!</strong>
    </p>
    {% include cta_petition.html %}
</div>
{% include scoreboard_corporate.html %}
<section class="copy">

    {% for post in site.posts %}
    <hr>
    {% if forloop.first or post.expanded %}
    <article id="{{ post.slug }}" class="expanded">
    {% else %}
    <article id="{{ post.slug }}">
    {% endif %}
        <h1>
            <a href="#{{ post.slug }}" class="expand-me">
                {{ post.title }}
            </a>
        </h1>
        <time datetime="{{ post.date | date_to_rfc822 }}"></time>
        {{ post.content }}
        {% if forloop.first == false and post.expanded != true %}
        <a href="#{{ post.slug }}" class="expand-me more">Learn more&hellip;</a>
        {% endif %}
    </article>
    {% endfor %}
</section>
{% include methodology-modal.html %}
