<div id="petition">
    HELLO
</div>
<script type="text/javascript">
    new EmailPetitionController({
        inject: '#petition',
        tag:    'choosethefuture',
        required: ['email', 'zip'],
        buttonText: 'Send Now',
        onSend: function(formData)
        {
            document.getElementById('action').style.display = 'none';
            document.getElementById('thanks').style.display = 'block';

            new CallModalController({
                campaign:   'cisa-cloture-fax',
                zip:        formData.zip,
                cta:        'Congress needs to know that it doesn\'t matter what companies want—CISA isn\'t going to fly with the American people.',
                callScript: 'Please oppose CISA, the Cybersecurity Information Sharing Act. CISA won\'t fix the cybersecurity problems we face in the U.S.—it will only lead to more warrantless mass surveillance of millions of Americans. We need real cybersecurity legislation, and it\'s not CISA.',
                shareText:  'We\'re up against some of the most powerful corporate lobbyists in the country, but that hasn\'t stopped us before. If a critical mass of citizens speak out against CISA, our voices will be impossible to ignore.',
            });
        }
    });
</script>
