{% capture additionalFooter %}{% include footer-extra-copy.md %}{% endcapture %}
<footer id="fftf-footer">
    <a href="https://www.fightforthefuture.org" target="_blank"><img src="/images/fftf-logo.png" class="footer-logo small"></a>
    <a href="http://www.restorethe4th.com/" target="_blank"><img src="/images/restore4th-logo.png" class="footer-logo"></a>
    <a href="https://demandprogress.org/" target="_blank"><img src="/images/dp.png" class="footer-logo"></a>
    <hr/>
    <div class="share">
        <button class="social facebook">Share this</button>
        <button class="social twitter">Tweet this</button>
    </div>
    <div class="copy">
        <p>For press inquiries, please contact us at:</p>
        <p>
            <a href="tel://1-978-852-6457" class="text">978-852-6457</a> <em>or</em> <a href="mailto:press@fightforthefuture.org" class="text">press@fightforthefuture.org</a>
        </p>
        <p>
            <a href="tel://1-781-258-2936" class="text">781-258-2936</a> <em>or</em> <a href="mailto:chair@restorethe4th.com" class="text">chair@restorethe4th.com</a>
        </p>
        <p>
            <small>
                All other inquiries, contact <a href="mailto:team@fightforthefuture.org" class="text">team@fightforthefuture.org</a>.
            </small>
        </p>

    </div>
</footer>

