<a id="scoreboard" name="scoreboard"></a>
<div class="scoreboard">
    <h2>Political Scoreboard</h2>
    <p>
        We can protect the Internet, but to do that,
        we need to know who is helping us and who is working against us.
        <a href="#our-scoring-system">Learn about our scoring system.</a>
    </p>
    <h4>Search by Name </h4>
    <input type="text" name="nameSearch" id="nameSearch">
    <br/>
    <br/>
    <div id="nameResults" class="names"> </div>
    <div id="scoreboard_data"></div>
</div>
