<a id="corporate" name="corporate"></a>
<div class="scoreboard" id="scoreboard_corporate">
    <h2>Corporate Scorecard</h2>
    <p>
        We can protect the Internet, but to do that,
        we need to know who is helping us and who is working against us.
    </p>
    <div class="corporate">
        <div class="team good">
            <img src="/images/teaminternet.png"/>
            <p>
                These companies are keeping the Internet open and free
                and oppose mass surveillance.
            </p>
        </div>
        <div class="table-wrapper" id="corporate-team-internet">
            <table>
                <tr>
                    <th></th>
                    <th><span><strong>ECPA</strong>reform</span></th>
                    <th><span>save <strong>crypto</strong></span></th>
                    <th><span>stop <strong>CISA</strong></span></th>
                </tr>
                <tr class="good">
                    <td>
                        <a href="#">
                            <img src="/images/companies/google.png"/>
                            <span>Google</span>
                        </a>
                    </td>
                    <td><img src="/images/good.png"></td>
                    <td><img src="/images/good.png"></td>
                    <td><img src="/images/good.png"></td>
                </tr>
                <tr class="good">
                    <td>
                        <a href="#">
                            <img src="/images/companies/yahoo.png"/>
                            <span>Yahoo</span>
                        </a>
                    </td>
                    <td><img src="/images/good.png"></td>
                    <td><img src="/images/good.png"></td>
                    <td><img src="/images/good.png"></td>
                </tr>
                <tr class="good">
                    <td>
                        <a href="#">
                            <img src="/images/companies/netflix.png"/>
                            <span>Netflix</span>
                        </a>
                    </td>
                    <td><img src="/images/good.png"></td>
                    <td><img src="/images/good.png"></td>
                    <td><img src="/images/good.png"></td>
                </tr>
                <tr class="good">
                    <td>
                        <a href="#">
                            <img src="/images/companies/microsoft.png"/>
                            <span>Microsoft</span>
                        </a>
                    </td>
                    <td><img src="/images/good.png"></td>
                    <td><img src="/images/good.png"></td>
                    <td><img src="/images/good.png"></td>
                </tr>
                <tr class="good">
                    <td>
                        <a href="#">
                            <img src="/images/companies/amazon.png"/>
                            <span>Amazon</span>
                        </a>
                    </td>
                    <td><img src="/images/good.png"></td>
                    <td><img src="/images/good.png"></td>
                    <td><img src="/images/good.png"></td>
                </tr>
                <tr class="good">
                    <td>
                        <a href="#">
                            <img src="/images/companies/ebay.png"/>
                            <span>eBay</span>
                        </a>
                    </td>
                    <td><img src="/images/good.png"></td>
                    <td><img src="/images/good.png"></td>
                    <td><img src="/images/good.png"></td>
                </tr>
                <tr class="good">
                    <td>
                        <a href="#">
                            <img src="/images/companies/reddit.png"/>
                            <span>Reddit</span>
                        </a>
                    </td>
                    <td><img src="/images/good.png"></td>
                    <td><img src="/images/good.png"></td>
                    <td><img src="/images/good.png"></td>
                </tr>
                <tr class="good">
                    <td>
                        <a href="#">
                            <img src="/images/companies/yelp.png"/>
                            <span>Yelp</span>
                        </a>
                    </td>
                    <td><img src="/images/good.png"></td>
                    <td><img src="/images/good.png"></td>
                    <td><img src="/images/good.png"></td>
                </tr>
                <tr class="good">
                    <td>
                        <a href="#">
                            <img src="/images/companies/adobe.png"/>
                            <span>Adobe</span>
                        </a>
                    </td>
                    <td><img src="/images/good.png"></td>
                    <td><img src="/images/good.png"></td>
                    <td><img src="/images/good.png"></td>
                </tr>
                <tr class="good">
                    <td>
                        <a href="#">
                            <img src="/images/companies/automatic.png"/>
                            <span>Automatic</span>
                        </a>
                    </td>
                    <td><img src="/images/good.png"></td>
                    <td><img src="/images/good.png"></td>
                    <td><img src="/images/good.png"></td>
                </tr>
                <tr class="good">
                    <td>
                        <a href="#">
                            <img src="/images/companies/twilio.png"/>
                            <span>Twilio</span>
                        </a>
                    </td>
                    <td><img src="/images/good.png"></td>
                    <td><img src="/images/good.png"></td>
                    <td><img src="/images/good.png"></td>
                </tr>
                <tr class="good">
                    <td>
                        <a href="#">
                            <img src="/images/companies/mozilla.png"/>
                            <span>Mozilla</span>
                        </a>
                    </td>
                    <td><img src="/images/good.png"></td>
                    <td><img src="/images/good.png"></td>
                    <td><img src="/images/good.png"></td>
                </tr>
                <tr class="good">
                    <td>
                        <a href="#">
                            <img src="/images/companies/duckduckgo.png"/>
                            <span>DuckDuckGo</span>
                        </a>
                    </td>
                    <td><img src="/images/good.png"></td>
                    <td><img src="/images/good.png"></td>
                    <td><img src="/images/good.png"></td>
                </tr>
                <tr class="good">
                    <td>
                        <a href="#">
                            <img src="/images/companies/disconnect.png"/>
                            <span>Disconnect</span>
                        </a>
                    </td>
                    <td><img src="/images/good.png"></td>
                    <td><img src="/images/good.png"></td>
                    <td><img src="/images/good.png"></td>
                </tr>
                <tr class="good">
                    <td>
                        <a href="#">
                            <img src="/images/companies/privateinternetaccess.png"/>
                            <span>Private Internet Access</span>
                        </a>
                    </td>
                    <td><img src="/images/good.png"></td>
                    <td><img src="/images/good.png"></td>
                    <td><img src="/images/good.png"></td>
                </tr>
            </table>
            <a href="#corporate-team-internet" class="expand-me more good">More</a>
        </div>
        <div class="team bad">
            <img src="/images/teamnsa.png"/>
            <p>
                These companies are collaborating with the government to control
                the Internet.
            </p>
        </div>
        <div class="table-wrapper" id="corporate-team-nsa">
            <table>
                <tr class="bad">
                    <td>
                        <a href="#">
                            <img src="/images/companies/apple.png"/>
                            <span>Apple</span>
                        </a>
                    </td>
                    <td><img src="/images/good.png"></td>
                    <td><img src="/images/good.png"></td>
                    <td><img src="/images/bad.png"></td>
                </tr>
                <tr class="bad">
                    <td>
                        <a href="#">
                            <img src="/images/companies/twitter.png"/>
                            <span>Twitter</span>
                        </a>
                    </td>
                    <td><img src="/images/good.png"></td>
                    <td><img src="/images/good.png"></td>
                    <td><img src="/images/bad.png"></td>
                </tr>
                <tr class="bad">
                    <td>
                        <a href="#">
                            <img src="/images/companies/att.png"/>
                            <span>AT&amp;T</span>
                        </a>
                    </td>
                    <td><img src="/images/good.png"></td>
                    <td><img src="/images/bad.png"></td>
                    <td><img src="/images/bad.png"></td>
                </tr>
                <tr class="bad">
                    <td>
                        <a href="#">
                            <img src="/images/companies/verizon.png"/>
                            <span>Verizon</span>
                        </a>
                    </td>
                    <td><img src="/images/bad.png"></td>
                    <td><img src="/images/bad.png"></td>
                    <td><img src="/images/bad.png"></td>
                </tr>
                <tr class="bad">
                    <td>
                        <a href="#">
                            <img src="/images/companies/hp.png"/>
                            <span>HP</span>
                        </a>
                    </td>
                    <td><img src="/images/good.png"></td>
                    <td><img src="/images/good.png"></td>
                    <td><img src="/images/bad.png"></td>
                </tr>
                <tr class="bad">
                    <td>
                        <a href="#">
                            <img src="/images/companies/comcast.png"/>
                            <span>Comcast</span>
                        </a>
                    </td>
                    <td><img src="/images/bad.png"></td>
                    <td><img src="/images/good.png"></td>
                    <td><img src="/images/bad.png"></td>
                </tr>
                <tr class="bad">
                    <td>
                        <a href="#">
                            <img src="/images/companies/ibm.png"/>
                            <span>IBM</span>
                        </a>
                    </td>
                    <td><img src="/images/good.png"></td>
                    <td><img src="/images/good.png"></td>
                    <td><img src="/images/bad.png"></td>
                </tr>
                <tr class="bad">
                    <td>
                        <a href="#">
                            <img src="/images/companies/cisco.png"/>
                            <span>Cisco</span>
                        </a>
                    </td>
                    <td><img src="/images/good.png"></td>
                    <td><img src="/images/good.png"></td>
                    <td><img src="/images/bad.png"></td>
                </tr>
                <tr class="bad">
                    <td>
                        <a href="#">
                            <img src="/images/companies/dell.png"/>
                            <span>Dell</span>
                        </a>
                    </td>
                    <td><img src="/images/good.png"></td>
                    <td><img src="/images/good.png"></td>
                    <td><img src="/images/bad.png"></td>
                </tr>
            </table>
            <a href="#corporate-team-nsa" class="expand-me more bad">More</a>
        </div>
    </div>
</div>
