<a id="corporate" name="corporate"></a>
<div class="scoreboard">
    <h2>Corporate Scorecard</h2>
    <p>
        We can protect the Internet, but to do that,
        we need to know who is helping us and who is working against us.
    </p>
    <div class="corporate">
        <div class="team good">
            <img src="/images/teaminternet.png"/>
            <p>
                These companies are keeping the Internet open and free
                and oppose mass surveillance.
            </p>
        </div>
        <div class="table-wrapper">
            <table>
                <tr>
                    <th></th>
                    <th><span><strong>ECPA</strong>reform</span></th>
                    <th><span>save <strong>crypto</strong></span></th>
                    <th><span>stop <strong>CISA</strong></span></th>
                </tr>
                <tr class="good">
                    <td>
                        <a style="background-image: url(/images/companies/google.png)" href="#">
                            <span>Google</span>
                        </a>
                    </td>
                    <td><img src="/images/good.png"></td>
                    <td><img src="/images/good.png"></td>
                    <td><img src="/images/good.png"></td>
                </tr>
                <tr class="good">
                    <td>
                        <a style="background-image: url(/images/companies/yahoo.png)" href="#">
                            <span>Yahoo</span>
                        </a>
                    </td>
                    <td><img src="/images/good.png"></td>
                    <td><img src="/images/good.png"></td>
                    <td><img src="/images/good.png"></td>
                </tr>
                <tr class="good">
                    <td>
                        <a style="background-image: url(/images/companies/netflix.png)" href="#">
                            <span>Netflix</span>
                        </a>
                    </td>
                    <td><img src="/images/good.png"></td>
                    <td><img src="/images/good.png"></td>
                    <td><img src="/images/good.png"></td>
                </tr>
                <tr class="good">
                    <td>
                        <a style="background-image: url(/images/companies/microsoft.png)" href="#">
                            <span>Microsoft</span>
                        </a>
                    </td>
                    <td><img src="/images/good.png"></td>
                    <td><img src="/images/good.png"></td>
                    <td><img src="/images/good.png"></td>
                </tr>
                <tr class="good">
                    <td>
                        <a style="background-image: url(/images/companies/amazon.png)" href="#">
                            <span>Amazon</span>
                        </a>
                    </td>
                    <td><img src="/images/good.png"></td>
                    <td><img src="/images/good.png"></td>
                    <td><img src="/images/good.png"></td>
                </tr>
                <tr class="good">
                    <td>
                        <a style="background-image: url(/images/companies/ebay.png)" href="#">
                            <span>eBay</span>
                        </a>
                    </td>
                    <td><img src="/images/good.png"></td>
                    <td><img src="/images/good.png"></td>
                    <td><img src="/images/good.png"></td>
                </tr>
                <tr class="good">
                    <td>
                        <a style="background-image: url(/images/companies/reddit.png)" href="#">
                            <span>Reddit</span>
                        </a>
                    </td>
                    <td><img src="/images/good.png"></td>
                    <td><img src="/images/good.png"></td>
                    <td><img src="/images/good.png"></td>
                </tr>
                <tr class="good">
                    <td>
                        <a style="background-image: url(/images/companies/yelp.png)" href="#">
                            <span>Yelp</span>
                        </a>
                    </td>
                    <td><img src="/images/good.png"></td>
                    <td><img src="/images/good.png"></td>
                    <td><img src="/images/good.png"></td>
                </tr>
                <tr class="good">
                    <td>
                        <a style="background-image: url(/images/companies/adobe.png)" href="#">
                            <span>Adobe</span>
                        </a>
                    </td>
                    <td><img src="/images/good.png"></td>
                    <td><img src="/images/good.png"></td>
                    <td><img src="/images/good.png"></td>
                </tr>
                <tr class="good">
                    <td>
                        <a style="background-image: url(/images/companies/automatic.png)" href="#">
                            <span>Automatic</span>
                        </a>
                    </td>
                    <td><img src="/images/good.png"></td>
                    <td><img src="/images/good.png"></td>
                    <td><img src="/images/good.png"></td>
                </tr>
                <tr class="good">
                    <td>
                        <a style="background-image: url(/images/companies/twilio.png)" href="#">
                            <span>Twilio</span>
                        </a>
                    </td>
                    <td><img src="/images/good.png"></td>
                    <td><img src="/images/good.png"></td>
                    <td><img src="/images/good.png"></td>
                </tr>
                <tr class="good">
                    <td>
                        <a style="background-image: url(/images/companies/mozilla.png)" href="#">
                            <span>Mozilla</span>
                        </a>
                    </td>
                    <td><img src="/images/good.png"></td>
                    <td><img src="/images/good.png"></td>
                    <td><img src="/images/good.png"></td>
                </tr>
                <tr class="good">
                    <td>
                        <a style="background-image: url(/images/companies/duckduckgo.png)" href="#">
                            <span>DuckDuckGo</span>
                        </a>
                    </td>
                    <td><img src="/images/good.png"></td>
                    <td><img src="/images/good.png"></td>
                    <td><img src="/images/good.png"></td>
                </tr>
                <tr class="good">
                    <td>
                        <a style="background-image: url(/images/companies/disconnect.png)" href="#">
                            <span>Disconnect</span>
                        </a>
                    </td>
                    <td><img src="/images/good.png"></td>
                    <td><img src="/images/good.png"></td>
                    <td><img src="/images/good.png"></td>
                </tr>
                <tr class="good">
                    <td>
                        <a style="background-image: url(/images/companies/privateinternetaccess.png)" href="#">
                            <span>Private Internet Access</span>
                        </a>
                    </td>
                    <td><img src="/images/good.png"></td>
                    <td><img src="/images/good.png"></td>
                    <td><img src="/images/good.png"></td>
                </tr>
            </table>
            <a href="#" class="expand-me more good">More</a>
        </div>
        <div class="team bad">
            <img src="/images/teamnsa.png"/>
            <p>
                These companies are collaborating with the government to control
                the Internet.
            </p>
        </div>
        <div class="table-wrapper">
            <table>
                <tr class="bad">
                    <td>
                        <a style="background-image: url(/images/companies/apple.png)" href="#">
                            <span>Apple</span>
                        </a>
                    </td>
                    <td><img src="/images/good.png"></td>
                    <td><img src="/images/good.png"></td>
                    <td><img src="/images/bad.png"></td>
                </tr>
                <tr class="bad">
                    <td>
                        <a style="background-image: url(/images/companies/twitter.png)" href="#">
                            <span>Twitter</span>
                        </a>
                    </td>
                    <td><img src="/images/good.png"></td>
                    <td><img src="/images/good.png"></td>
                    <td><img src="/images/bad.png"></td>
                </tr>
                <tr class="bad">
                    <td>
                        <a style="background-image: url(/images/companies/att.png)" href="#">
                            <span>AT&T</span>
                        </a>
                    </td>
                    <td><img src="/images/good.png"></td>
                    <td><img src="/images/bad.png"></td>
                    <td><img src="/images/bad.png"></td>
                </tr>
                <tr class="bad">
                    <td>
                        <a style="background-image: url(/images/companies/verizon.png)" href="#">
                            <span>Verizon</span>
                        </a>
                    </td>
                    <td><img src="/images/bad.png"></td>
                    <td><img src="/images/bad.png"></td>
                    <td><img src="/images/bad.png"></td>
                </tr>
                <tr class="bad">
                    <td>
                        <a style="background-image: url(/images/companies/hp.png)" href="#">
                            <span>HP</span>
                        </a>
                    </td>
                    <td><img src="/images/good.png"></td>
                    <td><img src="/images/good.png"></td>
                    <td><img src="/images/bad.png"></td>
                </tr>
                <tr class="bad">
                    <td>
                        <a style="background-image: url(/images/companies/comcast.png)" href="#">
                            <span>Comcast</span>
                        </a>
                    </td>
                    <td><img src="/images/bad.png"></td>
                    <td><img src="/images/good.png"></td>
                    <td><img src="/images/bad.png"></td>
                </tr>
                <tr class="bad">
                    <td>
                        <a style="background-image: url(/images/companies/ibm.png)" href="#">
                            <span>IBM</span>
                        </a>
                    </td>
                    <td><img src="/images/good.png"></td>
                    <td><img src="/images/good.png"></td>
                    <td><img src="/images/bad.png"></td>
                </tr>
                <tr class="bad">
                    <td>
                        <a style="background-image: url(/images/companies/cisco.png)" href="#">
                            <span>Cisco</span>
                        </a>
                    </td>
                    <td><img src="/images/good.png"></td>
                    <td><img src="/images/good.png"></td>
                    <td><img src="/images/bad.png"></td>
                </tr>
                <tr class="bad">
                    <td>
                        <a style="background-image: url(/images/companies/dell.png)" href="#">
                            <span>Dell</span>
                        </a>
                    </td>
                    <td><img src="/images/good.png"></td>
                    <td><img src="/images/good.png"></td>
                    <td><img src="/images/bad.png"></td>
                </tr>
            </table>
            <a href="#" class="expand-me more bad">More</a>
        </div>
    </div>
</div>
