<script src="//cdn.optimizely.com/js/342017080.js"></script>
<script type="text/javascript" src="//mothership.decidethefuture.org/core.min.js"></script>

<!-- don't move this or org referral will break -->
<script type="text/javascript" src="js/core.js"></script>

<script src="//c.shpg.org/103/sp.js"></script>
<script src='//cdn.goroost.com/roostjs/lo4qjr79fz73s44hpjojvzb26qrne4ix' async></script>
<script>
  var _roost = _roost || [];
  _roost.push(["autoprompt", false]);
  _roost.push(["segments_add", "Decide the Future"]);
  _roost.push(["bellopts", {"offset":{"bottom": 20}}]);

  // _roost.prompt();
</script>
