/*
* Everything is relative.
*
* Including this component. To resize, overwrite the font-size of
* div.share, button.social somewhere in your code.
*
* *****************
* Don't touch this.
* *****************
*/

div.share, button.social {
    font-size: 1.4rem;
}

div.share {
    border-radius: 7.142857143em;
    display: inline-block;
    text-align: center;

    @media screen and (min-width: @small-phone) {
        padding: 1rem;
        background: #16141f;
    }
}

button.social {
    border: 0;
    border-radius: 7.142857143em;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: @body-font;
    font-weight: bold;
    height: 2.142857143em;
    line-height: 2;
    margin-left: 0.357142857em;
    margin-right: 0.357142857em;
    padding: 0 1em 0 2.857142857em;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;

    &::before {
        content: '';
        display: block;
        height: 1.428571429em;
        left: 1em;
        position: absolute;
        top: 0.357142857em;
        width: 1.428571429rem;
    }

    &.twitter {
        background: #17a1ce;

        &::before {
            background-image: url('../images/share-icons.png');
            background-repeat: no-repeat;
            background-size: auto 100%;
            background-position: 0 0;
        }
    }
    &.facebook {
        background: #3b5a95;

        @media screen and (min-width: @small-phone) {
            margin-bottom: 0;
        }
        &::before {
            background-image: url('../images/share-icons.png');
            background-repeat: no-repeat;
            background-size: auto 100%;
            background-position: -50% 0;
        }
    }

    &.donate {
        padding-left: 1em;
        background: #e6b520;
    }

}
