.copy {
    h1 {
        font-size: 17vw;
        margin: 0 auto 3rem;
        max-width: 66rem;
        padding: 0.5rem 0 0;
        a {
            &:link, &:visited, &:hover, &:active {
                color: @body-copy-color;
                text-decoration: none;
            }
        }
        @media screen and (min-width: @small-phone) {
            font-size: 5rem;
        }
        @media screen and (min-width: @large-phone) {
            padding: 0.5rem 3rem 0;
            font-size: 5.5rem;
        }
        @media screen and (min-width: @small-tablet) {
            padding: 0.5rem 6rem 0;
        }
        @media screen and (min-width: @large-tablet) {
            padding: 0.5rem 0 0;
        }
    }
    article {
        max-height: 40rem;
        overflow: hidden;
        position: relative;
        transition: max-height 400ms;

        @media screen and (min-width: @small-phone) {
            max-height: 28rem;
        }

        @media screen and (min-width: @small-tablet) {
            max-height: 32rem;
        }

    }
    p {
        font-weight: 300;
        line-height: 1.5;
    }
    hr {
        border-color: transparent;
        border-bottom: lighten(@background-color, 20%) solid 0.1rem;
        margin: 0 auto 4rem;
        @media screen and (min-width: @small-phone) {
            margin-bottom: 6rem;
        }
        width: 30%;

        &:first-child {
            display: none;
        }
    }
    .more {
        bottom: 0;
        background-image: linear-gradient(to bottom, transparent, @background-color 75%);
        color: #bcc7e4;
        font-family: @body-font;
        font-size: 2.2rem;
        height: 12.7rem;
        left: 0;
        padding: 7rem 0 0;
        position: absolute;
        right: 0;
        text-align: center;
        text-transform: uppercase;
        transition: background-image 300ms; // some day browsers will implement this.
        &:link, &:visited {
            text-decoration: none;
        }
        &:hover, &:active {
            color: @white;
            text-decoration: underline;
            &::before {
                color: @white;
                text-decoration: none;
            }
        }
        &::before {
            display: inline-block;
            color: fade(#bcc7e4, 50%);
            content: '▼';
            margin-right: 1rem;
        }
    }
    .expanded {
        max-height: 100rem;
        .more {
            display: none;
        }
    }
}

button.link {
    background: transparent;
    border: none;
    color: @body-copy-color;
    cursor: pointer;
    text-decoration: underline;
    &:hover, &:active, &:focus {
        color: @white;
    }
}

.inline {
    display: inline;
    margin: 0;
    padding: 0;

    li {
        display: inline;
    }
}

ul, ol {
    &.piped {
        li {
            margin: 0;
            padding: 0;
            &::before {
                content: '|\00a0';
                display: inline-block;
            }
            &:first-child {
                &::before {
                    content: '';
                    display: none;
                }
            }
        }
    }
}

